.collection-item {
  display: flex;
  justify-content: space-between;
}
.material-icons {
  cursor: pointer;
  margin-right: 5px;
}
.upvotes {
  display: flex;
  align-items: center;
}
.errors {
  display: flex;
  color: red;
  margin: 10px;
}
